<fieldset>
    <legend>{{modalData.legend}}</legend>
    <div class="content">
        <mat-dialog-content>
            <form [formGroup]="form">
                <p *ngFor="let input of modalData.input">
                    <label>{{input.label}}</label>
                    <input type={{input.type}} formControlName={{input.formControlName}}
                        placeholder={{input.placeholder}}>
                </p>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions align="center">
            <ng-container *ngFor="let button of modalData.button">
                <button (click)="onClick(button.type)" tabindex="1"
                    [disabled]="(button.type === 'add' || button.type ==='update') && (form.invalid || form.pristine)">{{button.name}}</button>
            </ng-container>
        </mat-dialog-actions>
    </div>
</fieldset>